.chart-tooltip {
  color: #fff;
  border-radius: 3px;
  opacity: 0;
  cursor: default;
  position: absolute;
  transform: translate(-50%, 25px);
  transition: all 0.1s ease;
  font-family: Nunito, serif;
  font-size: 12px;
  left: 0;
  top: 0;
  z-index: 1;

  .chart-wrapper {
    padding: 10px;
    position: relative;

    &:after {
      top: 100%;
      left: 50%;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      margin-left: -6px;
      border: 6px solid transparent;
      border-top-color: inherit;
    }
  }
}
