<div
   #divElement
   (dblclick)="resetAreaToDefault()"
   (mousedown)="mousedown($event)"
   (touchstart)="mousedown($event)"
   (mouseleave)="this.isDown = false"
   (mousemove)="mousemove($event)"
   (touchmove)="mousemove($event)"
   (mouseup)="this.isDown = false"
   (touchend)="this.isDown = false"
   data-test="brush-plate"
   class="plate">
   <app-selection-area-knob data-test="left-knob" side="left"></app-selection-area-knob>
   <app-selection-area-knob data-test="right-knob" side="right"></app-selection-area-knob>
</div>
