
.knob {
  background-image: url('/assets/cdk/icons/chart/chart-selection-knob.svg');
  height: 100%;
  width: 8px;
  position: absolute;
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
