.extendable-legend-container {
  flex-wrap: wrap;

  .legend-label {
    opacity: .3;
    cursor: pointer;

    &.active {
      opacity: 1;
    }

    .legend-sign {
      width: 30px;

      span{
        display: block;

        &.line{
          height: 3px;
          width: 100%;
        }

        &.bar{
          height: 100%;
          width: 50%;
        }

        &.band{
          height: 50%;
          width: 100%;
        }

        &.triangle {
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 4px 8px 4px;
        }

        &.circle {
          display: inline-block;
          height: 15px;
          width: 15px;
          border-radius: 50%;
        }
      }
    }

    .axis-position {
      color: #969696;
    }
  }
}
